body {
    font: 12px Arial;
    color: #222;
    text-align: center;
    padding: 35px;
}

form, p, span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px Arial;
}

a {
    color: #0000ff;
    text-decoration: WindowText;
}

#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #bcc0c0;
    width: 514px;
    border: 6px solid #ebebeb;
    border-radius: 6px;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 460px;
    border: 1px solid #ebebeb;
    overflow: auto;
    border-radius: 5px;
}

.usermsg {
    width: 390px;
    padding: 10px;
    border: none;
    background: #fff;
    resize: none;
    border-radius: 5px ;
}

.button {
    background-color: rgb(35,140,182);
    color: white;
    padding: 11px 15px;
    border: none;
    cursor: pointer;
    width: 13%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

#button:hover {
     background-color: rgb(18,61,79);
     color: white;
 }

.welcome {
    float: left;
    font-size: 18px;
    color: teal;
}

.login {
    float: right;
    background-color: rgb(35,140,182);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 18%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 2px;
}

.login:hover {
    background-color: rgb(110,196,230);
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 15px;
}